.main-chat
  .main-chat__headar
    .main-chat__headar__box
      .main-chat__headar__group-name
        = @group.name
      .main-chat__headar__Member
        Member :
        - @group.group_users.each do |group_user|
          = group_user.user.name
    .main-chat__headar__Edit
      =link_to "/groups/#{@group.id}/edit", class: "" do
        edit
  .main-chat__message-list
    = render @messages
    -# .main-chat__message-list__box
    -#   .main-chat__message-list__socond
    -#     .main-chat__message-list__name
    -#       luck
    -#     .main-chat__message-list__time
    -#       2019/00/00(Thu) 00:00:00
    -#   .main-chat__message-list__messege
    -#     おはよう
  .form
    = form_for [@group, @message] do |f|
      .form__mask
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


  -# .main-chat__form
  -#   .main-chat__form__box
  -#     %input{type: "text" ,placeholder: "type a message" }
  -#     .main-chat__form__image
  -#     %label{class: "main-chat__form__image"}
  -#       = icon('fa', 'image', class: "")
  -#       %input{type: "file", class: "file"}
  -#   =link_to "#", class: "" do
  -#     Send